@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Love+Ya+Like+A+Sister|Special+Elite&display=swap');

/*
'Shadows Into Light', cursive
*/
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #ffffff;
}
#spantext {
  color: rgb(255, 111, 0);
}
#spantext2 {
  color: rgb(248, 18, 106);
}
.navi {
  float: right;
}
.spantex1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 35px;
  font-weight: normal;
  color: rgb(255, 47, 0);
}
.exc {
  color: yellow;
}
.karibu-txt {
  margin-top: 160px;
}

.txt {
  font-family: system-ui, cursive;
  color: black;
  font-size: 23px;
}

.txt-big {
  font-size: 50px;
  font-family: 'Shadows Into Light', cursive;
  color: rgba(248, 129, 18, 0.666);
}

.karibu-img {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 130px;
  height: 400px;
  width: 400p
}
.karibu-txt {
  margin-top: 100px;
  padding-left: 80px;
}
.menu {
  margin-top: 30px;
  background-image: url("../images/sec/b3.jpg");
  padding: 0;
}

#menu {
  font-family: 'Love Ya Like A Sister', cursive;
}

.menu-overlay {
  height: inherit;
  width: inherit;
  background-color: rgba(0, 0, 0, 0.7);
}
.menu-btn {
  border-radius: 20px;
  margin-top: 20px;
  color: #000;
}
#order-pizza {
  color: #000;
}
.checkout {
  border-radius: 20px;
  margin-top: 20px;
}
