@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Love+Ya+Like+A+Sister|Special+Elite&display=swap');

/*
'Shadows Into Light', cursive
*/
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #ffffff;
}
#spantext {
  color: rgb(255, 111, 0);
}
#spantext2 {
  color: rgb(248, 18, 106);
}
.navi {
  float: right;
}
.spantex1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 35px;
  font-weight: normal;
  color: rgb(255, 47, 0);
}
.exc {
  color: yellow;
}
.karibu-txt {
  margin-top: 160px;
}

.txt {
  font-family: system-ui, cursive;
  color: black;
  font-size: 23px;
}

.txt-big {
  font-size: 50px;
  font-family: 'Shadows Into Light', cursive;
  color: rgba(238, 147, 10, 0.9);
}

.karibu-img {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 130px;
  height: 400px;
  width: 400p
}
.karibu-txt {
  margin-top: 100px;
  padding-left: 80px;
}
.menu {
  margin-top: 30px;
  background-image: url("../images/sec/b3.jpg");
  padding: 0;
}

#menu {
  font-family: 'Love Ya Like A Sister', cursive;
}

.menu-overlay {
  height: inherit;
  width: inherit;
  background-color: rgba(0, 0, 0, 0.7);
}
.menu-btn {
  border-radius: 20px;
  margin-top: 20px;
  color: #000;
}
#order-pizza {
  color: #000;
}
.checkout {
  border-radius: 20px;
  margin-top: 20px;
}
#order-pizza {
  color: #000;
}
.order-summary h1, .summary, .contact {
  color: #000;
  font-family: 'Love Ya Like A Sister', cursive;
  margin-top: 30px;
}
.get-pizza {
  margin-top: 40px;
}.cdata {
  margin-top: 20px;
  margin-bottom: 15px;
}

.data {
  height: inherit;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.go {
  border-radius: 20px;
}

.click-me, button[type=submit], .deliver, .delivernot {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 2px;
  background-color: #ffbf00;
  outline: none;
  padding: 12.5px 13px;
  border: none;
  border-radius: 33px;
  font-size: 14px;
}

.deliver, .delivernot {
  margin: 10px;
}

h4 {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

#order-pizza {
  padding: 20px 50px 20px 50px;
  font-family: 'Love Ya Like A Sister', cursive;
}

.order-overlay {
  height: inherit;
  padding: 20px;
  background-color: rgba(238, 147, 10, 0.9);
  border-radius: 20px;
}

.checkout {
  border-radius: 20px;
  margin-top: 20px;
}
#list {
  color: rgb(0, 0, 0);
}


